{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Cyberstories
{% endblock %}

{% block javascript %}
    <script>
        let CSRF_TOKEN = '{{ csrf_token }}';

        {% if request.user.is_authenticated %}
            const USER_AUTHENTICATED = true;
            const USERNAME = '{{ request.user.username }}';
            const EMAIL = '{{ request.user.email }}';
        {% else %}
            const USER_AUTHENTICATED = false;
            const USERNAME = 'unknown';
            const EMAIL = 'unknown';
        {% endif %}
    </script>
{% endblock %}
