{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">

    <!-- favicon -->
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}"/>

    <!-- Unity import -->
    <link rel="stylesheet" href={% static 'webgl/TemplateData/style.css' %}>
    <script src={% static 'webgl/TemplateData/UnityProgress.js' %}></script>
    <script src={% static 'webgl/Build/UnityLoader.js' %}></script>
    <script>
      var unityInstance = UnityLoader.instantiate('unityContainer', 'Build/Builds.json', { onProgress: UnityProgress })
    </script>

    {% block css_import %}
    {% endblock %}
</head>

<body>
<div id="root" class="root"></div>

<script type="text/javascript">
  {% autoescape off %}
    let WINDOWS_BUILD_FILE_URL = "{{ windows_builds.first.file.url }}"
    let MAC_BUILD_FILE_URL = "{{ mac_builds.first.file.url }}"
    let LINUX_BUILD_FILE_URL = "{{ linux_builds.first.file.url }}"
  {% endautoescape %}
</script>

{% block javascript %}
{% endblock %}

</body>
</html>
